<ion-header>
  <ion-toolbar>
    <div class="titleNav">
      <ion-icon size="large" src="assets/logoSmartCollaudo.svg"></ion-icon>
      <ion-title>Smart Collaudo</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-particles
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"
    class="particles"
  ></ng-particles>

  <svg
    *ngIf="!directLink"
    version="1.1"
    id="Livello_1"
    class="logo"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background: new 0 0 800 800"
    xml:space="preserve"
  >
    <style type="text/css">
      .st0 {
        clip-path: url(#SVGID_2_);
        fill: url(#SVGID_3_);
      }

      .st1 {
        clip-path: url(#SVGID_5_);
        fill: url(#SVGID_6_);
      }

      .st2 {
        clip-path: url(#SVGID_8_);
        fill: url(#SVGID_9_);
      }

      .st3 {
        clip-path: url(#SVGID_11_);
        fill: url(#SVGID_12_);
      }

      .st4 {
        clip-path: url(#SVGID_14_);
        fill: url(#SVGID_15_);
      }
    </style>
    <g>
      <defs>
        <path
          id="SVGID_1_"
          d="M243.18,52.54c119.66,0,216.67,97.01,216.67,216.67h43.34c0-143.59-116.41-260-260-260V52.54z"
        />
      </defs>
      <clipPath id="SVGID_2_">
        <use xlink:href="#SVGID_1_" style="overflow: visible" />
      </clipPath>

      <linearGradient
        id="SVGID_3_"
        gradientUnits="userSpaceOnUse"
        x1="-708.7134"
        y1="794.8547"
        x2="-703.7934"
        y2="794.8547"
        gradientTransform="matrix(79.4862 -79.4862 -79.4862 -79.4862 119539.6328 7332.6543)"
      >
        <stop offset="0" style="stop-color: #267ac1" />
        <stop offset="1" style="stop-color: #2aacba" />
      </linearGradient>
      <polygon
        class="st0"
        points="113.18,139.2 373.18,-120.8 633.18,139.2 373.18,399.2 	"
      />
    </g>
    <g>
      <defs>
        <path
          id="SVGID_4_"
          d="M113.22,269.2c0-71.77,58.18-129.95,129.96-129.95c71.77,0,129.95,58.18,129.95,129.95
     c0,71.78-58.18,129.96-129.95,129.96c-28.06,0-53.97-8.99-75.22-24.1l16.56-16.56l10.21,10.21l10.21-10.21v0l10.21-10.21l0,0
     l10.21-10.21l-10.21-10.21l-30.65-30.65L174.31,287l-10.21,10.21v0h0l-10.21,10.21v0l-10.21,10.21l10.21,10.21l-16.56,16.56
     C122.2,323.18,113.22,297.27,113.22,269.2 M69.83,269.2c0,40.05,13.72,76.83,36.53,106.17l-8.77,8.77l-86.41,86.41l30.64,30.64
     L137,406.02c29.35,22.81,66.12,36.53,106.17,36.53c95.73,0,173.33-77.61,173.33-173.34c0-95.73-77.6-173.33-173.33-173.33
     C147.44,95.87,69.83,173.47,69.83,269.2"
        />
      </defs>
      <clipPath id="SVGID_5_">
        <use xlink:href="#SVGID_4_" style="overflow: visible" />
      </clipPath>

      <linearGradient
        id="SVGID_6_"
        gradientUnits="userSpaceOnUse"
        x1="-708.7161"
        y1="794.8547"
        x2="-703.7961"
        y2="794.8547"
        gradientTransform="matrix(79.4863 -79.4863 -79.4863 -79.4863 119539.75 7332.7192)"
      >
        <stop offset="0" style="stop-color: #267ac1" />
        <stop offset="1" style="stop-color: #2aacba" />
      </linearGradient>
      <polygon
        class="st1"
        points="-191.49,298.53 213.84,-106.79 619.17,298.53 213.84,703.86 	"
      />
    </g>
    <g>
      <defs>
        <rect
          id="SVGID_7_"
          x="179.04"
          y="249.12"
          transform="matrix(0.7071 -0.7071 0.7071 0.7071 -118.2372 227.2399)"
          width="72.27"
          height="14.45"
        />
      </defs>
      <clipPath id="SVGID_8_">
        <use xlink:href="#SVGID_7_" style="overflow: visible" />
      </clipPath>

      <linearGradient
        id="SVGID_9_"
        gradientUnits="userSpaceOnUse"
        x1="-708.7134"
        y1="795.0595"
        x2="-703.7934"
        y2="795.0595"
        gradientTransform="matrix(79.4863 -79.4863 -79.4863 -79.4863 119535.6641 7328.5132)"
      >
        <stop offset="0" style="stop-color: #267ac1" />
        <stop offset="1" style="stop-color: #2aacba" />
      </linearGradient>
      <polygon
        class="st2"
        points="153.86,256.34 215.18,195.02 276.5,256.34 215.18,317.66 	"
      />
    </g>
    <g>
      <defs>
        <rect
          id="SVGID_10_"
          x="193.13"
          y="254.25"
          transform="matrix(0.7071 -0.7071 0.7071 0.7071 -111.3953 254.0082)"
          width="115.56"
          height="14.44"
        />
      </defs>
      <clipPath id="SVGID_11_">
        <use xlink:href="#SVGID_10_" style="overflow: visible" />
      </clipPath>

      <linearGradient
        id="SVGID_12_"
        gradientUnits="userSpaceOnUse"
        x1="-708.7134"
        y1="794.8547"
        x2="-703.7934"
        y2="794.8547"
        gradientTransform="matrix(79.4863 -79.4863 -79.4863 -79.4863 119539.7969 7332.6646)"
      >
        <stop offset="0" style="stop-color: #267ac1" />
        <stop offset="1" style="stop-color: #2aacba" />
      </linearGradient>
      <polygon
        class="st3"
        points="158.98,261.47 250.91,169.54 342.83,261.47 250.91,353.39 	"
      />
    </g>
    <g>
      <defs>
        <rect
          id="SVGID_13_"
          x="226.25"
          y="305.31"
          transform="matrix(0.7071 -0.7071 0.7071 0.7071 -150.4986 261.7429)"
          width="28.89"
          height="14.44"
        />
      </defs>
      <clipPath id="SVGID_14_">
        <use xlink:href="#SVGID_13_" style="overflow: visible" />
      </clipPath>

      <linearGradient
        id="SVGID_15_"
        gradientUnits="userSpaceOnUse"
        x1="-708.7134"
        y1="794.65"
        x2="-703.7934"
        y2="794.65"
        gradientTransform="matrix(79.4863 -79.4863 -79.4863 -79.4863 119543.9453 7336.8164)"
      >
        <stop offset="0" style="stop-color: #267ac1" />
        <stop offset="1" style="stop-color: #2aacba" />
      </linearGradient>
      <polygon
        class="st4"
        points="210.05,312.54 240.7,281.89 271.34,312.54 240.7,343.18 	"
      />
    </g>
  </svg>
  <!-- <img class="logo" src="../../assets/logoSmartCollaudo.svg" alt="Logo Smart Collaudo" /> -->

  <!-- **************************************************************************************** -->
  <ion-row class="centered">
    <ion-col
      [sizeLg]="directLink ? 6 : 4"
      [offsetLg]="directLink ? 3 : 4"
      [sizeMd]="directLink ? 8 : 6"
      [offsetMd]="directLink ? 2 : 3"
      [sizeSm]="directLink ? 10 : 8"
      [offsetSm]="directLink ? 1 : 2"
      [sizeXs]="12"
    >
      <div>
        <div class="login-label">Login</div>
        <div *ngIf="directLink" class="room-details-container">
          <ion-item lines="none">
            <ion-label>
              <h1>Conference Room #{{roomInfo.roomId}}</h1>
            </ion-label>
            <ion-icon
              color="primary"
              slot="end"
              src="assets/icons/mockup-icons/video-call.svg"
            ></ion-icon>
          </ion-item>
          <ion-item *ngIf="roomInfo.project" lines="none">
            <ion-label>
              <p>Progetto</p>
              <h2>{{roomInfo.project}}</h2>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="roomInfo.session" lines="none">
            <ion-label>
              <p>Sessione</p>
              <h2>{{roomInfo.session}}</h2>
            </ion-label>
          </ion-item>
          <ion-item *ngIf="roomInfo.creator" lines="none">
            <ion-label>
              <p>Organizzatore</p>
              <h2>{{roomInfo.creator}}</h2>
            </ion-label>
          </ion-item>

          <div class="user-guest-login-container">
            <ion-row style="width: 100%">
              <ion-col>
                <app-user-login [roomId]="roomInfo.roomId"></app-user-login>
              </ion-col>
              <ion-col>
                <app-guest-login [roomId]="roomInfo.roomId"></app-guest-login>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div *ngIf="!directLink">
          <app-user-login></app-user-login>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
